{% spaceless %}

{#https://livedemo00.template-help.com/wt_58255#}

<!DOCTYPE html>
<html lang="en" class="wide wow-animation smoothscroll-all">
<head>

    <title>{{ project_name }}</title>
    <meta name="format-detection" content="telephone=no"/>
    <link rel="icon" href="{{ asset('bundles/app/images/favicon.ico') }}" type="image/x-icon" rel="shortcut icon">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet" type="text/css">
    {#<link href='https://fonts.googleapis.com/css?family=Archivo+Narrow:400,700' rel='stylesheet' type='text/css'>#}

    {% block stylesheets %}

        {% stylesheets
        filter='cssrewrite'
            'bundles/app/css/default.css'
        %}

        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

    {% endblock %}

</head>

<body class="{% block bodyclass %}{% endblock %}" >

    {% block content %}

    {% endblock %}

    {% block javascripts %}

        {% javascripts
            '@AppBundle/Resources/public/js/jquery-2.2.3.min.js'
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        <script type="text/javascript">


        </script>

    {% endblock %}

    {#Core Scripts#}
    <script src="{{ asset('bundles/app/js/core.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/script.js') }}"></script>

    <noscript>
        <a href="https://www.olark.com/site/7830-582-10-3714/contact" title="Contact us" target="_blank">
            Questions? Feedback?
        </a>
        powered by <a href="http://www.olark.com?welcome" title="Olark live chat software">Olark live chat software</a>
    </noscript>

</body>

</html>
{% endspaceless %}

