{% spaceless %}

    {% if id is defined %}
        <input type="hidden" value="{{ id }}" name="id">
    {% endif %}

    {{ form_widget(formEntity._token) }}

    <div class="form-group">
        <i class="fa fa-fw fa-lock"></i>
        {{ form_label(formEntity.newPassword.first) }}
        {{ form_widget(formEntity.newPassword.first) }}
    </div>

    <div class="form-group">
        <i class="fa fa-fw fa-lock"></i>
        {{ form_label(formEntity.newPassword.second) }}
        {{ form_widget(formEntity.newPassword.second) }}
    </div>
{% endspaceless %}
