<section id="home" data-type="anchor" class="border-bottom">

    <video autoplay muted loop id="video" > {# poster="video.jpg" #}
        <source src="{{ asset('bundles/app/video/background.mp4') }}" type="video/mp4">
        Your browser does not support HTML5 video.
    </video>

    <div class="container">

        <div class="camera_wrap" id="camera">

            <div data-src="{{ asset('bundles/app/images/img01.png') }}">
                <div class="camera_caption fadeFromRight">
                    <div class="container">
                        <div class="row row-md-right">
                            <div class="col-md-6 col-md-offset-6 inset-1">
                                <h2 style="font-family: 'Helvetica Rounded Condensed' !important;">Tianos</h2>
                                <h5 class="border-bottom-sm">Desarrollo de<br>software para empresas</h5>
                                {#<a href="#" class="link link-sm link-default">read more</a>#}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div data-src="{{ asset('bundles/app/images/img02.png') }}">
                <div class="camera_caption fadeFromRight">
                    <div class="container">
                        <div class="row row-md-right">
                            <div class="col-md-6 col-md-offset-6 inset-1">
                                <h5>Trabajemos</h5>
                                <h2 style="font-family: 'Helvetica Rounded Condensed' !important;">juntos</h2>
                                <h5 class="border-bottom-sm">Nos emociona la idea de<br>trabajar juntos</h5>
                                {#<a href="#" class="link link-sm link-default">read more</a>#}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div data-src="{{ asset('bundles/app/images/img01.png') }}">
                <div class="camera_caption fadeFromRight">
                    <div class="container">
                        <div class="row row-md-right">
                            <div class="col-md-6 col-md-offset-6 inset-1">
                                <h2 style="font-family: 'Helvetica Rounded Condensed' !important;">Talentoso</h2>
                                <h5 class="border-bottom-sm">individuos de alrededor<br>del globo</h5>
                                {#<a href="#" class="link link-sm link-default">read more</a>#}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div data-src="{{ asset('bundles/app/images/img02.png') }}">
                <div class="camera_caption fadeFromRight">
                    <div class="container">
                        <div class="row row-md-right">
                            <div class="col-md-6 col-md-offset-6 inset-1">
                                <h5>enfoque</h5>
                                <h2 style="font-family: 'Helvetica Rounded Condensed' !important;">estrat&eacute;gico</h2>
                                <h5 class="border-bottom-sm">Desarrollamos un plan estrat&eacute;gico</h5>
                                {#<a href="#" class="link link-sm link-default">read more</a>#}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>