{% extends "AppBundle::template.html.twig" %}

{% block bodyclass %}
    login-page
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets
        filter='cssrewrite'
        '@AppBundle/Resources/public/css/switch.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    <style>
        .login-box, .register-box {
            margin: 0;
            width: 100%;
        }
    </style>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $(document).ready(function() {

            $(document).on('click', 'input#{{ formEntity.isAuto.vars.id }}', function() {

                if ($(this).is(':checked')) {
                    $('.is_auto').slideDown();
                } else {
                    $('.is_auto').slideUp();
                }


                // $(function() { $("[data-widget='collapse']").click(); })
            });

        });
    </script>

{% endblock %}

{% block content %}

    <div class="register-box">

        <div class="register-logo">
            <i class="fa fa-user"></i>
            <b>Editar</b> User
        </div>

        {% if not formEntity.vars.valid %}
            <div class="alert alert-warning alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <i class="icon fa fa-warning"></i> Info
                {{ form_errors(formEntity) }}
            </div>
        {% endif %}

        <div class="register-box-body">
            {#<p class="login-box-msg">Sign in to start your session</p>#}

            {{ form_start(formEntity, {'attr': {'role': 'form'}}) }}

            <div class="form-group has-feedback">
                {{ form_label(formEntity.code) }}
                {{ form_widget(formEntity.code) }}
                <span class="glyphicon glyphicon-qrcode form-control-feedback"></span>
            </div>

            <div class="form-group has-feedback">
                {{ form_label(formEntity.name) }}
                {{ form_widget(formEntity.name) }}
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>

            <div class="form-group has-feedback">
                {{ form_label(formEntity.email) }}
                {{ form_widget(formEntity.email) }}
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>

            <div class="form-group has-feedback">
                {{ form_label(formEntity.phone) }}
                {{ form_widget(formEntity.phone) }}
                <span class="glyphicon glyphicon-phone form-control-feedback"></span>
            </div>

            {#<div class="form-group has-feedback">#}
                {#{{ form_label(formEntity.password) }}#}
                {#{{ form_widget(formEntity.password) }}#}
                {#<span class="glyphicon glyphicon-lock form-control-feedback"></span>#}
            {#</div>#}

            <div class="form-group has-feedback">
                {{ form_label(formEntity.isAuto) }} &nbsp;
                <i class="fa fa-fw fa-car"></i>

                <label class="switch">
                    {{ form_widget(formEntity.isAuto) }}
                    <span class="slider round bg-red-slider"></span>
                </label>
            </div>

            <div class="is_auto" style="display: {{ formEntity.isAuto.vars.data ? 'block' : 'none' }}">
                <div class="form-group has-feedback">
                    {{ form_label(formEntity.plate) }}
                    {{ form_widget(formEntity.plate) }}
                    <span class="glyphicon glyphicon-barcode form-control-feedback"></span>
                </div>


                <div class="form-group has-feedback">
                    {{ form_label(formEntity.color) }}
                    {{ form_widget(formEntity.color) }}
                    <span class="glyphicon glyphicon-heart-empty form-control-feedback"></span>
                </div>

                <div class="form-group has-feedback">
                    {{ form_label(formEntity.model) }}
                    {{ form_widget(formEntity.model) }}
                    <span class="glyphicon glyphicon-th-list form-control-feedback"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-4">
                    {{ form_widget(formEntity.submit) }}
                </div>
            </div>

            {{ form_end(formEntity)}}

        </div>
    </div>

{% endblock %}




